<h1>smu test</h1>
<h2>simple tests</h2>
<p>first paragraph.
testing surround: <em>emph</em> then <strong>strong</strong> and <code>code</code>.</p>
<p><code>\`escaped backticks\`</code>.</p>
<p><code>x = *y * 6;</code></p>
<p>horizontal rule:</p>
<hr />
<hr />
<h2>blocks and entities</h2>
<p>preformatted block:
<pre><code>.'''' .'.'. |  |
 '''. | ' | |  |
''''  '   '  ""
</code></pre>
</p>
<p>quoted text:
<blockquote><p>When in doubt,
use brute force.</p>
</blockquote>
</p>
<p>list:
<ul>
<li>Make each program do one thing well.</li>
<li>Expect the output of every program to become the input to another,</li>
</ul>
<p>as yet unknown, program.
<ul>
<li>Design and build software, even operating systems, to be tried early,</li>
</ul>
<p>ideally within weeks.
<ul>
<li>Use tools in preference to unskilled help to lighten a programming task.</li>
</ul>
</p>
</p>
</p>
<p>list in list:
<ul>
<li>a
<ul>
<li>b
<ol>
<li>c</li>
<li>d</li>
</ol>
</li>
<li>e</li>
</ul>
</li>
<li>f</li>
</ul>
</p>
<p>entity: &amp;, &lt;, &gt;</p>
<p>code:
<pre><code>int powerof2(unsigned int n) {
	return !((n - 1) &amp; n) &amp;&amp; n &gt; 0;
}
</code></pre>
</p>
<h2>links</h2>
<p>link: <a href="http://suckless.org/">suckless</a></p>
<p>link with title: <a href="http://suckless.org/" title="software that sucks less">suckless</a></p>
<p>link with title (single quote): <a href="http://suckless.org/" title="software that sucks less">suckless</a></p>
<p>link with trailing spaces: <a href="http://suckless.org/">suckless</a></p>
<p>link with leading spaces: <a href="http://suckless.org/">suckless</a></p>
<p>link with (): (see <a href="https://tools.ietf.org/html/rfc8259#section-8.1">RFC8259 - 8.1. Character Encoding</a>).</p>
<p>link with entities: <a href="https://codemadness.org/?bla=2&amp;bla2=&quot;3&quot;">link</a></p>
<p>link with empty title: <a href="http://a">link</a></p>
<p>link with spaces in URL: <a href="http://a/b c">link</a></p>
<p>link with image dimensions (should be ignored): <a href="http://a/b =2x2">link</a></p>
<h2>images</h2>
<p>image: <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="" /></p>
<p>image with alt text: <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" /></p>
<p>image with title: <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" title="screenshot of st" /></p>
<p>image with title (single quote): <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" title="screenshot of st" /></p>
<p>image with unclosed title (single quote): <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" title="screenshot of st" /></p>
<p>image with no title and dimensions: <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" width="12" height="34" /></p>
<p>image with title and dimensions: <img src="http://st.suckless.org/screenshots/20h-2012-s.png &quot;screenshot of st&quot;" alt="alt text" title="screenshot of st" width="12" height="34" /></p>
<p>image with title and dimensions different order: <img src="http://st.suckless.org/screenshots/20h-2012-s.png =12x34" alt="alt text" title="screenshot of st" width="12" height="34" /></p>
<p>image with title and dimensions (no width): <img src="http://st.suckless.org/screenshots/20h-2012-s.png &quot;screenshot of st&quot;" alt="alt text" title="screenshot of st" height="34" /></p>
<p>image with title and dimensions (no height): <img src="http://st.suckless.org/screenshots/20h-2012-s.png &quot;screenshot of st&quot;" alt="alt text" title="screenshot of st" width="12" /></p>
<p>image with title and dimensions with spaces: <img src="http://st.suckless.org/screenshots/20h-2012-s.png
	=12x34" alt="alt text" title="screenshot of st" width="12" height="34" /></p>
<p>image with empty title: <img src="http://st.suckless.org/screenshots/20h-2012-s.png" alt="alt text" /></p>
<p>linked thumbnail image: <a href="img.png"><img src="thumb.png &quot;click to open&quot;" alt="alt text" title="click to open" width="12" height="34" /></a></p>
<h2>inline html</h2>
<p><center>
	ABC
</center>
</p>
<h2>titles</h2>
<p>h1 no need to match exactly
===</p>
<p>h2 no need to match exactly
---</p>
<p>h1 no need to match exactly
=</p>
<p>h2 no need to match exactly
-</p>
<p>this one is not a title
 -</p>
<h2>title</h2>
<ul>
<li>a</li>
</ul>
<h2>title</h2>
<p>-- a</p>
<h2>title</h2>
<p>--</p>
<h2>a</h2>
<h2>aa</h2>
<h2>abc</h2>
<h2>abc</h2>
