*,div,pre,textarea,body,input,td,tr,p {
    background-color: #1C1B19 !important;
/*    background-image: none !important; */
    color: #BAA67F !important;
}
h1,h2,h3,h4 {
    background-color: #1C1B19 !important;
    color: #BAA67F !important;
}
img {
    opacity: .5;
}
img:hover {
    opacity: 1;
}
